<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome to the cinema!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="/css/style.css" crossorigin="anonymous">
        <link rel="stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">
        {#<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.carousel.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.theme.default.min.css">#}
        <link rel="stylesheet" href="/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/css/owl.theme.default.min.css">
        {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/css/mdb.min.css" />#}
    {% endblock %}
</head>
<body class="homepage" onload="onLoaderFunc()">
    {% block javascripts %}
        <script src="/js/jquery.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
        <script src="/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
        {#<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/js/mdb.min.js"></script>#}
        <script src="/js/owl.carousel.min.js"></script>
        {#<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/owl.carousel.min.js"></script>#}
        <script src="/js/gridifier.min.js"></script>
        <script src="/js/lib.js"></script>
    {% endblock %}

    {% block body %}


        <main role="main">

            {% block header %}
                <section class="jumbotron">
                    <div class="container">
                        <h1 class="jumbotron-heading">
                            <div class="outer">
                                <div class="height">
                                    <a href="/" class="inner">Киноняша</a>
                                </div>
                            </div>
                        </h1>
                        <p class="lead text-muted">Здесь вы можете просмотреть предстоящие обзоры кинопремьер и забронировать места</p>
                    </div>
                </section>
            {% endblock %}


            <div class="album py-5 bg-light">
                <div class="container">

                    <div class="row">
                        <h3 class="jumbotron-heading">Самые посещаемые фильмы: </h3>
                        {% block slider %}
                            <div id="owl" class="owl-carousel owl-theme">
                                {% for popularFilm in popularFilms %}
                                    <div class="img-wrap">
                                        <a href="/films/view/film/{{ popularFilm.slug }}" title="{{ popularFilm.title }}">
                                            <img src="/uploads/{{ popularFilm.img }}?crop=entropy&fit=crop&h=421&sharp=10&vib=20&w=748" alt="{{ popularFilm.title }}">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endblock %}
                    </div>
                    <div class="row ">
                        <h3 class="jumbotron-heading">Сегодня в кино: </h3>
                        <div class=" gridSelector">
                        {% for film in films %}
                            <div class="col-md-4 gridItem">
                                <div class="card mb-4 box-shadow">
                                    <a href="/films/view/film/{{ film.slug }}" title="{{ film.title }}">
                                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="/uploads/{{ film.img }}" data-holder-rendered="true">
                                    </a>
                                    <div class="card-body">
                                        <a class="gridItem-title" href="/films/view/film/{{ film.slug }}" title="{{ film.title }}">{{ film.title }}</a>
                                        <p class="card-text">{{ film.description|truncate(100) }}</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button onclick="window.location.href='/films/view/film/{{ film.slug }}'" type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                                            </div>
                                            <small class="text-muted">{{ film.country }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <ul>
            {% for color in colors %}
                <li>{{ color }}</li>
            {% endfor %}
        </ul>
    {% endblock %}

    {% block footer %}
    <!-- Footer -->
        <div class="footer">
            <div class="container">
                <a href='#'><i class="fab fa-twitch fa-3x fa-fw"></i></a>
                <a href='#'><i class="fab fa-facebook fa-3x fa-fw"></i></a>
                <a href='#'><i class="fab fa-twitter fa-3x fa-fw"></i></a>
                <a href='#'><i class="fab fa-youtube fa-3x fa-fw"></i></a>
                <a href='#'><i class="fa fa-rss fa-3x fa-fw"></i></a>
                <a href='#'><i class="fab fa-vine fa-3x fa-fw"></i></a>
                <a href='#'><i class="fab fa-flickr fa-3x fa-fw"></i></a>
                <a href='#'><i class="fab fa-linkedin fa-3x fa-fw"></i></a>
                </span>
            </div>
        </div>
    <!-- Footer -->
    {% endblock %}
</body>
</html>