<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome to the cinema!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="/css/style.css" crossorigin="anonymous">
        <link rel="stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">
        {#<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.carousel.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.theme.default.min.css">#}
        <link rel="stylesheet" href="/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/css/owl.theme.default.min.css">
        {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/css/mdb.min.css" />#}
    {% endblock %}
</head>
<body class="homepage" onload="onLoaderFunc()">
    {% block javascripts %}
        <script src="/js/jquery.js"></script>
        <script src="/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
        {#<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/js/mdb.min.js"></script>#}
        <script src="/js/owl.carousel.min.js"></script>
        {#<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/owl.carousel.min.js"></script>#}
        <script src="/js/lib.js"></script>
    {% endblock %}

    {% block body %}


        <main role="main">

            {% block header %}
                <section class="jumbotron">
                    <div class="container">
                        <h1 class="jumbotron-heading">
                            <div class="outer">
                                <div class="height">
                                    <a href="/" class="inner">Киноняша</a>
                                </div>
                            </div>
                        </h1>
                        <p class="lead text-muted">Здесь вы можете просмотреть предстоящие обзоры кинопремьер и забронировать места</p>
                    </div>
                </section>
            {% endblock %}


            <div class="album py-5 bg-light">
                <div class="container">

                    <div class="row">
                        <h3 class="jumbotron-heading">Самые посещаемые фильмы: </h3>
                        {% block slider %}
                            <div id="owl" class="owl-carousel owl-theme">
                                {% for popularFilm in popularFilms %}
                                    <div class="img-wrap">
                                        <a href="/films/view/film/{{ popularFilm.slug }}" title="{{ popularFilm.title }}">
                                            <img src="/uploads/{{ popularFilm.img }}?crop=entropy&fit=crop&h=421&sharp=10&vib=20&w=748" alt="{{ popularFilm.title }}">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endblock %}
                    </div>
                    <div class="row">
                        <h3 class="jumbotron-heading">Сегодня в кино: </h3>
                        {% for film in films %}
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <a href="/films/view/film/{{ film.slug }}" title="">
                                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="/uploads/{{ film.img }}" data-holder-rendered="true">
                                    </a>
                                    <div class="card-body">
                                        <p class="card-text">{{ film.description|truncate(100) }}</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button onclick="window.location.href='/films/view/film/{{ film.slug }}'" type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            </div>
                                            <small class="text-muted">{{ film.country }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </main>
        <ul>
            {% for color in colors %}
                <li>{{ color }}</li>
            {% endfor %}
        </ul>
    {% endblock %}

    {% block footer %}
    <!-- Footer -->
    <footer class="page-footer font-small indigo">

        <!-- Footer Links -->
        <div class="container">

            <!-- Grid row-->
            <div class="row text-center d-flex justify-content-center pt-5 mb-3">

                <!-- Grid column -->
                <div class="col-md-2 mb-3">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#!">About us</a>
                    </h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 mb-3">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#!">Products</a>
                    </h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 mb-3">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#!">Awards</a>
                    </h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 mb-3">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#!">Help</a>
                    </h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 mb-3">
                    <h6 class="text-uppercase font-weight-bold">
                        <a href="#!">Contact</a>
                    </h6>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->
            <hr class="rgba-white-light" style="margin: 0 15%;">

            <!-- Grid row-->
            <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

                <!-- Grid column -->
                <div class="col-md-8 col-12 mt-5">
                    <p style="line-height: 1.7rem">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium, totam rem
                        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                        explicabo.
                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->
            <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

            <!-- Grid row-->
            <div class="row pb-3">

                <!-- Grid column -->
                <div class="col-md-12">

                    <div class="mb-5 flex-center">

                        <!-- Facebook -->
                        <a class="fb-ic">
                            <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="tw-ic">
                            <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
                        </a>
                        <!-- Google +-->
                        <a class="gplus-ic">
                            <i class="fab fa-google-plus-g fa-lg white-text mr-4"> </i>
                        </a>
                        <!--Linkedin -->
                        <a class="li-ic">
                            <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic">
                            <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
                        </a>
                        <!--Pinterest-->
                        <a class="pin-ic">
                            <i class="fab fa-pinterest fa-lg white-text"> </i>
                        </a>

                    </div>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
    {% endblock %}
</body>
</html>