{% extends 'home/index.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">
    {#<link rel="stylesheet" href="/css/style.css" crossorigin="anonymous">#}
    <link rel="stylesheet" href="/css/admin.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/almasaeed2010/adminlte/dist/css/adminlte.min.css" crossorigin="anonymous">
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
{% endblock %}

{% block javascripts %}
    <script src="/js/jquery.js"></script>
    <script src="/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/vendor/almasaeed2010/adminlte/dist/js/adminlte.min.js"></script>
    <script src="/js/lib.js"></script>
{% endblock %}

{% block title %}Dashboard!{% endblock %}

{% block body %}
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
                {#<li class="nav-item d-none d-sm-inline-block">
                    <a href="index3.html" class="nav-link">Home</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Contact</a>
                </li>#}
            </ul>

            <!-- SEARCH FORM -->
            <form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-comments"></i>
                        <span class="badge badge-danger navbar-badge">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="/vendor/almasaeed2010/adminlte/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Brad Diesel
                                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">Call me whenever you can...</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="/vendor/almasaeed2010/adminlte/dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        John Pierce
                                        <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">I got your message bro</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="/vendor/almasaeed2010/adminlte/dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Nora Silvester
                                        <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">The subject goes here</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                    </div>
                </li>
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#"><i class="fas fa-th-large"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="/auth/logout"><i class="fas fa-sign-out-alt"></i></a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            {% block brandlogo %}
            <!-- Brand Logo -->
            <a href="/admin/dashboard/index" class="brand-link">
                <img src="/vendor/almasaeed2010/adminlte/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">Space Cinema</span>
            </a>
            {% endblock %}

            {% block sidebar %}
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="/img/super-admin.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Super Administrator</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview menu-open">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Films
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/admin/films/index" class="nav-link">
                                        <i class="fa fa-list"></i>
                                        <p>List films</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/admin/films/add" class="nav-link">
                                        <i class="fa fa-plus-circle"></i>
                                        <p>Add film</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
            {% endblock %}
        </aside>

        {% block wrapper %}
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0 text-dark">Dashboard</h1>
                            </div><!-- /.col -->
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.container-fluid -->
                </div>
                <!-- /.content-header -->

                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">

                        <!-- Main row -->
                        <div class="row">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-tools">
                                        <ul class="pagination pagination-sm float-right">
                                            <li class="page-item"><a class="page-link" href="#">«</a></li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#">»</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body p-0">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Film</th>
                                            <th class="film-session">10-00</th>
                                            <th class="film-session">12-00</th>
                                            <th class="film-session">14-00</th>
                                            <th class="film-session">16-00</th>
                                            <th class="film-session">18-00</th>
                                            <th class="film-session">20-00</th>
                                            <th>Progress</th>
                                            <th style="width: 40px">Label</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for film in films %}
                                            <tr>
                                                <td class="film-id">{{ film.id }}.</td>
                                                <td>{{ film.title }}</td>
                                                <td class="film-session" data-toggle="modal" data-target="#myModal"><span class="film-session-round">{{ sessionsSeats[film.id][10]|length }}</span></td>
                                                <td class="film-session" data-toggle="modal" data-target="#myModal"><span class="film-session-round">{{ sessionsSeats[film.id][12]|length }}</span></td>
                                                <td class="film-session" data-toggle="modal" data-target="#myModal"><span class="film-session-round">{{ sessionsSeats[film.id][14]|length }}</span></td>
                                                <td class="film-session" data-toggle="modal" data-target="#myModal"><span class="film-session-round">{{ sessionsSeats[film.id][16]|length }}</span></td>
                                                <td class="film-session" data-toggle="modal" data-target="#myModal"><span class="film-session-round">{{ sessionsSeats[film.id][18]|length }}</span></td>
                                                <td class="film-session" data-toggle="modal" data-target="#myModal"><span class="film-session-round">{{ sessionsSeats[film.id][20]|length }}</span></td>

                                                {% set progress = counterSeats[film.id]|length*100/300 %}
                                                {% if progress < 25 %}
                                                    {% set progressClass = 'bg-danger' %}
                                                {% elseif progress >= 25 and progress < 50 %}
                                                    {% set progressClass = 'bg-warning' %}
                                                {% elseif progress >= 50 and progress < 75 %}
                                                    {% set progressClass = 'bg-primary' %}
                                                {% else %}
                                                    {% set progressClass = 'bg-success' %}
                                                {% endif %}
                                                <td>
                                                    <div class="progress progress-xs">
                                                        <div class="progress-bar {{ progressClass }}" style="width: {{ progress|round(2, 'floor') }}%"></div>
                                                    </div>
                                                </td>
                                                <td><span class="badge {{ progressClass }}">{{ progress|round(2, 'floor') }}%</span></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                        <!-- /.row (main row) -->
                    </div><!-- /.container-fluid -->
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
        {% endblock %}

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>
        <!-- /.control-sidebar -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
        </footer>
    </div>

    {% block footer %}{% endblock %}

    <div class="modal" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Статус резервирования</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="seatStructure">
                        <table class="booking" id="seatsBlock">
                            <p id="notification"></p>
                            <tr>
                                <td colspan="10"><div class="screen">Экран</div></td>
                            </tr>

                            <tr>
                                <td><div class="seat"><input type="checkbox" class="seats" value="A1"><label>A1</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="A2"><label>A2</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="A3"><label>A3</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="A4"><label>A4</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="A5"><label>A5</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="A6"><label>A6</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="A7"><label>A7</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="A8"><label>A8</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="A9"><label>A9</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="A10"><label>A10</label></div></td>
                            </tr>

                            <tr>
                                <td><div class="seat"><input type="checkbox" class="seats" value="B1"><label>B1</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="B2"><label>B2</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="B3"><label>B3</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="B4"><label>B4</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="B5"><label>B5</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="B6"><label>B6</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="B7"><label>B7</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="B8"><label>B8</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="B9"><label>B9</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="B10"><label>B10</label></div></td>
                            </tr>
                            <tr>
                                <td><div class="seat"><input type="checkbox" class="seats" value="C1"><label>C1</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="C2"><label>C2</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="C3"><label>C3</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="C4"><label>C4</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="C5"><label>C5</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="C6"><label>C6</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="C7"><label>C7</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="C8"><label>C8</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="C9"><label>C9</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="C10"><label>C10</label></div></td>
                            </tr>
                            <tr>
                                <td><div class="seat"><input type="checkbox" class="seats" value="D1"><label>D1</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="D2"><label>D2</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="D3"><label>D3</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="D4"><label>D4</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="D5"><label>D5</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="D6"><label>D6</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="D7"><label>D7</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="D8"><label>D8</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="D9"><label>D9</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="D10"><label>D10</label></div></td>
                            </tr>
                            <tr>
                                <td><div class="seat"><input type="checkbox" class="seats" value="E1"><label>E1</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="E2"><label>E2</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="E3"><label>E3</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="E4"><label>E4</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="E5"><label>E5</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="E6"><label>E6</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="E7"><label>E7</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="E8"><label>E8</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="E9"><label>E9</label></div></td>
                                <td><div class="seat"><input type="checkbox" class="seats" value="E10"><label>E10</label></div></td>
                            </tr>
                            <tr>
                                <td colspan="3"  class="screen-tips">
                                    <div class="smallBox greenBox">Selected Seat</div>
                                </td>
                                <td colspan="3"  class="screen-tips">
                                    <div class="smallBox redBox">Reserved Seat</div>
                                </td>
                                <td colspan="3"  class="screen-tips">
                                    <div class="smallBox emptyBox">Empty Seat</div>
                                </td>
                            </tr>
                        </table>
                        {#<button class="btn btn-primary" onclick="updateTextArea()">Подтвердить выбраные места</button>#}
                    </div>
                </div>
                <div class="modal-footer">
                    {#<button type="button" class="btn btn-primary">Save changes</button>#}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}